img{
    width: 850px;
    height: 600px;
}
p{
    font-size: x-large;
}
h1{
    color: rgb(255, 0, 0);
    filter: brightness(500%);
}
body {
    background: linear-gradient(75deg, rgb(199, 174, 11), rgb(220, 20, 60));
    filter: brightness(60%);
}
a{
    color: #ff0000;
}